* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    padding: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(200px, auto);
}

.gallery div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

div:nth-of-type(1) {
    grid-column: span 2;
}

div:nth-of-type(2) {
    grid-row: span 2;
    grid-column: span 1;
}

div:nth-of-type(3) {
    grid-column: span 3;
    grid-row: span 1;
}

div:nth-of-type(6) {
    grid-column: span 2;
    grid-row: span 1;
}

div:nth-of-type(5) {
    grid-row: span 2;
}

div:nth-of-type(9) {
    grid-column: span 3;
    grid-row: span 1;
}

div:nth-of-type(7) {
    grid-row: span 2;
}

@media (max-width:991px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .gallery div {
        grid-row: unset !important;
        grid-column: unset !important;
    }
}